:root {
  --primary-bg-color: #000;
  --primary-text-color: white;
  --main-bg-color: #f8f9fa; /* Light background for the main content */
}

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Global font style */
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--main-bg-color); /* Background for the entire page */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app takes up the full viewport height */
}

header {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 10px 20px; /* Add padding for better spacing */
  text-align: center;
}

header a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 1.5rem;
}

header a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1; /* Ensures the main content takes up the remaining space */
  padding: 20px; /* Add padding for better spacing */
  background-color: var(--main-bg-color);
}

footer {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  text-align: center;
  padding: 10px 20px; /* Add padding for better spacing */
  position: relative; /* Ensures it stays in the flow of the document */
  bottom: 0;
  width: 100%;
}

footer a {
  color: var(--primary-text-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
